* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto ,sans-serif;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-wrapper {
  width: 450px;
  box-shadow: 1px 1px 4px 2px whitesmoke;
  border-radius: 12px;
  padding: 2rem 1rem;
}
